---
---

@import "extras"
@import "colors"
@import "fonts"

$base: 1.25em
$baseline: 1rem

$ninesixty_gutter_width: $baseline / 2
$ninesixty_grid_width: 100%
$ninesixty_columns: 8

$free_space: $ninesixty_gutter_width * 4
$min_width: $ninesixty_gutter_width * 96

html
  :position relative
  :min-height 100%
  :min-width $min_width + $free_space
  :height 100%
  :background $white
  :font
    :size $base
    :family "RistrettoSlabPro", display
  :letter-spacing 1px
  
html, html a
  :color $black

*
  +children-list-fix

*, *:before, *:after
  +box-sizing
  +transition(opacity .2s ease-in-out)

body
  :line-height $baseline
  :font
    :size $baseline
  :height 100%
  :min-height 100%

$header: $baseline * 6
$logo: $ninesixty_gutter_width * 25
$footer: $baseline * 4

#container
  :height 100%
  +grid-container
  
  > header
    :position relative
    :z-index 100
    :background #fff
    :height $header
    +box-shadow(0 0 15px rgba(0, 0, 0, 0.6))
    
    > h1
      +grid-container($min_width)
      :height $header
      
      > a
        +inline-block
        :width $logo
        :height $header
        +indented
        :background url(/assets/images/icons/logo.png) no-repeat center
        +background-size(100%)
      
      & + nav
        :margin
          :top -$header
    
    > nav
      +grid-container($min_width)
      :height $header
      :padding
        :top ($header - $baseline * 3.5) / 2
        :bottom ($header + $baseline * 1.5) / 2
      :text
        :align right
      +children-inline
      
      > li
        > a
          :display block
          :width 100%
          :height 100%
          :font
            :family "RistrettoSlabPro Medium", display
            :weight medium
          +transition-property(opacity, color)
          
          &:hover
            :color $grey
        
        &.active > a
          :color $grey
          :cursor default
        
        & + li
          :margin
            :left $ninesixty_gutter_width * 2
    
    & + *
      :height 100%
      :margin
        :top -$header
      :padding
        :top $header
      :overflow overlay
  
  > #welcome
    :position relative
    :padding
      :bottom $footer
    
    > .picture
      :height 100%
      :background
        :repeat no-repeat
        :attachment fixed
        :position center top
      +background-size(cover)
      
      &.first
        :background
          :image url(/assets/images/backgrounds/main/first.jpg)
      
      &.second
        :background
          :image url(/assets/images/backgrounds/main/second.jpg)
      
      &.third
        :background
          :image url(/assets/images/backgrounds/main/third.jpg)
      
      &.fourth
        :background
          :image url(/assets/images/backgrounds/main/fourth.jpg)
    
    > .content
      :position relative
      :padding
        :top $baseline * 2
        :bottom $baseline * 4
      :background $white
      +box-shadow(0 0 15px rgba(0, 0, 0, 0.6))
      
      > h2
        +grid-container($min_width)
        :line-height $baseline * 2
        :font
          :size $baseline * 2
          :family "RistrettoSlabPro Medium", display
          :weight medium
        :text
          :align center
        
        &.right
          :text
            :align right
        
        & + *
          :margin
            :top $baseline * 1.5
      
      > p
        +grid-container($min_width)
        :line-height $baseline * 1.5
        :text
          :align justify
        
        > a
          +inline-block
          :height $baseline * 1.5
          :line-height $baseline
          :padding
            :top $baseline / 4
            :bottom $baseline / 4
          :color $black
          +transition-property(opacity, color)
          
          > span
            :display block
            :border
              :bottom 1px solid $grey
          
          &:hover
            :color $grey
        
        &.center
          :text
            :align center
        
        &.right
          :text
            :align right
        
        & + *
          :margin
            :top $baseline
      
      .map
        +grid-container($min_width)
        :border 1px solid $grey
        :height $baseline * 22.5
        
        > iframe
          :display block
        
        & + *
          :margin
            :top $baseline
      
      .info
        +grid-container($min_width)
        :text
          :align right
        
        > div
          :width $ninesixty_gutter_width * 30
          +inline-block
          :text
            :align left
        
          > h3
            :line-height $baseline * 2
            :font
              :size $baseline * 1.5
              :family "RistrettoSlabPro Medium", display
              :weight medium
            :border
              :bottom 1px solid $grey
            
            & + *
              :margin
                :top $baseline
          
          > p
            :width $ninesixty_gutter_width * 30
            +inline-block
            :line-height $baseline * 1.5
            
            > a
              +inline-block
              :height $baseline * 1.5
              :line-height $baseline
              :padding
                :top $baseline / 4
                :bottom $baseline / 4
              :color $black
              +transition-property(opacity, color)
              
              > span
                :display block
                :border
                  :bottom 1px solid $grey
              
              &:hover
                :color $grey
            
            & + *
              :margin
                :top $baseline
      
      > ul
        +grid-container($min_width + $ninesixty_gutter_width * 3)
        :margin
          :top -$baseline * 2
        :text
          :align center
        +children-inline
        
        > li
          :width $ninesixty_gutter_width * 30
          :margin
            :top $baseline * 2
            :left $ninesixty_gutter_width * 1.5
            :right $ninesixty_gutter_width * 1.5
          
          > a
            :display block
            :width 100%
            
            > .photo
              :position relative
              :width 100%
              :height $baseline * 22.5
              +opacity(0.9)
              
              > img
                :display block
                :width 100%
                :height 100%
              
              &:before
                :content ''
                +absoluted
                +box-shadow(inset 0 0 15px rgba(0, 0, 0, 0.6))
              
              & + h2
                :margin
                  :top $baseline / 2
            
            > h2
              :line-height $baseline * 2
              :font
                :size $baseline * 1.5
                :family "RistrettoSlabPro Medium", display
                :weight medium
              +transition-property(opacity, color)
            
            > span
              :display block
              +transition-property(opacity, color)
            
            &:hover
              > .photo
                +opacity(1)
              
              > h2, > span
                :color $grey
        
        & + *
          :margin
            :top $baseline
    
    & + footer
      :margin
        :top -$footer
  
  > footer
    +grid-container($min_width)
    :text
      :align center
    :height $footer
    :line-height $footer

@for $i from 1 to 4
  @media only screen and (max-width: (6 - $i) * 250px)
    html
      :font
        :size (5 - $i) * $base / 4