---
---

@import "extras"
@import "colors"
@import "fonts"

$base: 1.25em
$baseline: 1rem

$ninesixty_gutter_width: $baseline / 2
$ninesixty_grid_width: 100%
$ninesixty_columns: 8

$min_width: 90%
$max_width: $ninesixty_gutter_width * 140
$free_space: (100% - $min_width) / 2

@-webkit-keyframes vanishIn
  0%
    :opacity 0
    :-webkit-transform-origin 50% 50%
    :-webkit-transform scale(2, 2)

  100%
    :opacity 1
    :-webkit-transform-origin 50% 50%
    :-webkit-transform scale(1, 1)

@keyframes vanishIn
  0%
    :opacity 0
    :transform-origin 50% 50%
    :transform scale(2, 2)

  100%
    :opacity 1
    :transform-origin 50% 50%
    :transform scale(1, 1)

@-webkit-keyframes vanishOut
  0%
    :opacity 1
    :-webkit-transform-origin 50% 50%
    :-webkit-transform scale(1, 1)
    :-webkit-filter blur(0px)

  100%
    :opacity 0
    :-webkit-transform-origin 50% 50%
    :-webkit-transform scale(2, 2)
    :-webkit-filter blur(10px)

@keyframes vanishOut
  0%
    :opacity 1
    :transform-origin 50% 50%
    :transform scale(1, 1)
    :-webkit-filter blur(0px)

  100%
    :opacity 0
    :transform-origin 50% 50%
    :transform scale(2, 2)
    :-webkit-filter blur(10px)

html
  :position relative
  :min-height 100%
  :height 100%
  :background $white
  :font
    :size $base
    :family "RistrettoSlabPro", display
  :letter-spacing 1px
  
html, html a
  :color $black

*
  +children-list-fix

*, *:before, *:after
  +box-sizing
  +transition(opacity .3s ease-in-out)

body
  :line-height $baseline
  :font
    :size $baseline
  :height 100%
  :min-height 100%

$header: $baseline * 6
$logo: $ninesixty_gutter_width * 25
$footer: $baseline * 4

#container
  :height 100%
  +grid-container
  
  > header
    :position relative
    :z-index 100
    :background #fff
    :height $header
    +box-shadow(0 0 15px rgba(0, 0, 0, 0.6))
    
    > h1
      :width $min_width
      :max-width $max_width
      :margin
        :left auto
        :right auto
      :height $header
      +children-inline
      
      > a
        :width $logo
        :height $header
        +indented
        :background url("{{ "/images/icons/logo.jpg" | prepend: site.baseurl }}") no-repeat center
        +background-size(100%)
      
      & + aside
        :margin
          :top -$header
    
    > aside
      :width $min_width
      :max-width $max_width
      :margin
        :left auto
        :right auto
      :height $header
      :text
        :align right
      +children-inline
      
      > nav
        :position relative
        :height $baseline
        :margin
          :top ($header - $baseline * 3.5) / 2
          :bottom ($header + $baseline * 1.5) / 2
        +children-inline
      
        > li
          > a
            :display block
            :width 100%
            :height 100%
            :font
              :family "RistrettoSlabPro Medium", display
              :weight medium
            +transition-property(opacity, color)
          
            &:hover
              :color $grey
          
          > ul
            +opacity(0)
            :visibility hidden
            :position absolute
            :width 100%
            :top 100%
            :right 0
            :padding
              :top $baseline / 2
            +transition-property(opacity, visibility)
            +children-inline
            
            > li
              > a
                :display block
                :width 100%
                :height 100%
                :font
                  :size $baseline * 0.9
                +transition-property(opacity, color)
                
                &:hover, &.active
                  :color $grey
              
              & + li
                :margin
                  :left $ninesixty_gutter_width * 2
            
            &.left
              :right auto
              :left 0
              :text
                :align left
        
          &.active > a
            :color $grey
            :cursor default
          
          &.relative
            :position relative
          
          &:hover > ul, &.active > ul, &.children-active > ul
            :visibility visible
            +opacity(1)
        
          & + li
            :margin
              :left $ninesixty_gutter_width * 2
        
        &:hover > li
          > ul
            +opacity(0)
            :visibility hidden
          
          &:hover > ul
            :visibility visible
            +opacity(1)
    
    & + *
      :height 100%
      :margin
        :top -$header
      :padding
        :top $header
      
      > .wrapper
        :height 100%
        :overflow overlay
  
  > #welcome
    :position relative
    
    > .wrapper
      :padding
        :bottom $footer
      
      > .pictures
        :height 110%
        :height calc(100% + #{$footer})
        :width 100%
        
        > .picture
          :height 100% !important
          
          & + .picture
            :border
              :top 1px solid $white
      
      > .picture, > .pictures > .picture
        :height 110%
        :height calc(100% + #{$footer - $baseline})
        :background
          :color $black
          :repeat no-repeat
          :attachment fixed
          :position center top
        +background-size(cover)
        
        &.with-footer
          :height calc(100% + #{$footer})
          :background
            :color $black
            :attachment initial
            :position center
          +background-size(auto 99%)
          +box-shadow(inset 0 0 15px rgba(0, 0, 0, 0.6))
        
        &.contain
          +background-size(contain)
          +box-shadow(0 0 15px rgba(0, 0, 0, 0.6))
        
        &.right
          :background
            :position 75% top
        
        &.first
          :background
            :image url("{{ "/images/backgrounds/main/first.jpg" | prepend: site.baseurl }}")
      
        &.second
          :background
            :image url("{{ "/images/backgrounds/main/second.jpg" | prepend: site.baseurl }}")
      
        &.third
          :background
            :image url("{{ "/images/backgrounds/main/third.jpg" | prepend: site.baseurl }}")
      
        &.fourth
          :background
            :image url("{{ "/images/backgrounds/main/fourth.jpg" | prepend: site.baseurl }}")
      
        &.service-1
          :background
            :image url("{{ "/images/backgrounds/services/1.jpg" | prepend: site.baseurl }}")
      
        &.service-2
          :background
            :image url("{{ "/images/backgrounds/services/2.jpg" | prepend: site.baseurl }}")
      
        &.service-3
          :background
            :image url("{{ "/images/backgrounds/services/3.jpg" | prepend: site.baseurl }}")
      
        &.service-4
          :background
            :image url("{{ "/images/backgrounds/services/4.jpg" | prepend: site.baseurl }}")
    
      > .content
        :position relative
        :padding
          :top $baseline * 2
          :bottom $baseline * 4
        :background $white
        +box-shadow(0 0 15px rgba(0, 0, 0, 0.6))
      
        > h2
          :width $min_width
          :max-width $max_width
          :margin
            :left auto
            :right auto
          :line-height $baseline * 2
          :font
            :size $baseline * 2
            :family "RistrettoSlabPro Medium", display
            :weight medium
          :text
            :align center
          
          &.margin-top
            :margin
              :top $baseline * 4
        
          &.right
            :text
              :align right
        
          & + *
            :margin
              :top $baseline * 1.5
      
        > p
          :width $min_width
          :max-width $max_width
          :margin
            :left auto
            :right auto
          :line-height $baseline * 1.5
          :text
            :align justify
        
          > b
            :font
              :family "RistrettoSlabPro Medium", display
              :weight medium
          
          > i
            :display block
            :font
              :style normal
            :text
              :align center
          
          > a
            +inline-block
            :height $baseline * 1.5
            :line-height $baseline
            :padding
              :top $baseline / 4
              :bottom $baseline / 4
            :color $black
            +transition-property(opacity, color)
          
            > span
              :display block
              :border
                :bottom 1px solid $grey
          
            &:hover
              :color $grey
        
          &.short
            :width 60%
            :margin
              :left auto
              :right auto
            :text
              :align left
        
          &.center
            :text
              :align center
        
          &.right
            :text
              :align right
          
          &.padding-right
            :padding
              :right $ninesixty_gutter_width * 8
          
          &.margin-top
            :margin
              :top $baseline * 3
          
          & + .aside
            :margin
              :top -$baseline * 1.5
        
          & + *
            :margin
              :top $baseline
            
            &.no-margin
              :margin
                :top $baseline / 2
      
        .logo
          :margin
            :top $baseline * 3
          :height $baseline * 8
          :text
            :align center
          +children-inline
        
          > img
            :height 100%
      
        .map
          :width $min_width
          :max-width $max_width
          :margin
            :left auto
            :right auto
          :border 1px solid $grey
          :height $baseline * 22.5
        
          > iframe
            :display block
        
          & + *
            :margin
              :top $baseline
      
        .info
          :width $min_width
          :max-width $max_width
          :margin
            :left auto
            :right auto
          :text
            :align justify
          +children-inline
        
          > div
            :width (100% / 3)
            :text
              :align left
          
            > h3
              :line-height $baseline * 2
              :font
                :size $baseline * 1.5
                :family "RistrettoSlabPro Medium", display
                :weight medium
            
              & + *
                :margin
                  :top $baseline / 2
          
            > p
              :line-height $baseline * 1.5
            
              > a
                +inline-block
                :height $baseline * 1.5
                :line-height $baseline
                :padding
                  :top $baseline / 4
                  :bottom $baseline / 4
                :color $black
                +transition-property(opacity, color)
              
                > span
                  :display block
                  :border
                    :bottom 1px solid $grey
              
                &:hover
                  :color $grey
            
              & + *
                :margin
                  :top $baseline
          
            &.center
              :text
                :align center
          
            &.right
              :text
                :align right
      
        > ul.masters
          :width $min_width
          :width calc(#{$min_width} + #{$ninesixty_gutter_width * 3})
          :max-width $max_width
          :margin
            :left auto
            :right auto
          :margin
            :top -$baseline * 2
          :text
            :align center
          +children-inline
        
          > li
            :width (100% / 3)
            :margin
              :top $baseline
            :padding
              :top $baseline
          
            > a, > div
              :display block
              :width 100%
              :padding
                :left $ninesixty_gutter_width * 1.5
                :right $ninesixty_gutter_width * 1.5
            
              > .photo
                :position relative
                :width 100%
              
                > img
                  :display block
                  :width 100%
              
                &:before
                  :content ''
                  +absoluted
                  +box-shadow(inset 0 0 15px rgba(0, 0, 0, 0.6))
              
                & + *
                  :margin
                    :top $baseline / 2
            
              > h2
                :line-height $baseline * 2
                :font
                  :size $baseline * 1.5
                  :family "RistrettoSlabPro Medium", display
                  :weight medium
                +transition-property(opacity, color)
            
              > span
                :display block
                +transition-property(opacity, color)
            
            > a
              > .photo
                +opacity(0.9)
            
              &:hover
                > .photo
                  +opacity(1)
            
                > h2, > span
                  :color $grey
        
          &.list
            :width $min_width
            
            > li
              :display block
              :width auto
              :text
                :align left
              +children-inline
          
              > div, > a
                :position relative
                :width 30%
                :padding
                  :left 0
                  :right 0
                :text
                  :align center
      
                > h3
                  :width 200%
                  :position absolute
                  :bottom $baseline
                  :left 100% + (100% / 3)
                  :line-height $baseline * 2
                  :font
                    :size $baseline * 1.5
                    :family "RistrettoSlabPro Medium", display
                    :weight medium
                  :text
                    :align left
        
                  > span
                    :font
                      :family "RistrettoSlabPro", display
                      :weight normal
      
                > p
                  :width 200%
                  :position absolute
                  :bottom 0
                  :left 100% + (100% / 3)
                  :text
                    :align left
                  :font
                    :family "RistrettoSlabPro Medium", display
                    :weight medium
        
                  > span
                    :font
                      :family "RistrettoSlabPro", display
                      :weight normal
              
                > .photo
                  :position relative
              
                  > aside
                    :position absolute
                    :width 200%
                    :height 100%
                    :top 0
                    :left 100% + (100% / 3)
          
                    > ul
                      :height 100%
                      :white-space nowrap
                      :overflow hidden
                      +children-inline
            
                      > li
                        :position relative
                        :z-index 1
                        :width 100%
                        :height 100%
                        :background $black no-repeat center
                        +background-size(cover)
                        +box-shadow(inset 0 0 15px rgba(0, 0, 0, 0.6))
                        +children-inline
              
                        > a
                          :position absolute
                          :width 50%
                          :height 100%
                          +opacity(0)
                
                          &:before
                            :content ''
                            :position absolute
                            :width $baseline * 2
                            :height $baseline * 2
                            :top 50%
                            :margin
                              :top -$baseline
                            :background
                              :color $white
                            :background rgba(255, 255, 255, 0.6) url("{{ "/images/icons/arrow.png" | prepend: site.baseurl }}") center
                            +background-size(cover)
                            +border-radius($baseline)
                            +box-shadow(inset 0 0 15px rgba(0, 0, 0, 0.25))
                
                          &.left
                            :left 0
                  
                            &:before
                              :left $ninesixty_gutter_width * 2
                              +rotate(180)
                
                          &.right
                            :right 0
                  
                            &:before
                              :right $ninesixty_gutter_width * 2
                
                          &:hover
                            +opacity(1)
              
                        &.active
                          :z-index 2
                          +opacity(1)
                          :-webkit-animation-duration .75s
                          :animation-duration .75s
                          :-webkit-animation-name vanishIn
                          :animation-name vanishIn
              
                        &:not(.active)
                          +opacity(0)
                          :-webkit-animation-duration .75s
                          :animation-duration .75s
                          :-webkit-animation-name vanishOut
                          :animation-name vanishOut
              
                        & ~ li
                          :margin
                            :left -100%
            
                      & + *
                        :margin
                          :top $baseline / 2
            
                & + *
                  :margin
                    :left $ninesixty_gutter_width * 4
        
          & + *
            :margin
              :top $baseline
      
        > ul.services
          :width $min_width
          :width calc(#{$min_width} + #{$ninesixty_gutter_width * 4})
          :max-width $max_width
          :margin
            :left auto
            :right auto
            :top -$baseline * 2
          :text
            :align center
          +children-inline
        
          > li
            :width 25%
            :margin
              :top $baseline * 2
          
            > a
              :display block
              :width 100%
              :padding
                :left $ninesixty_gutter_width * 2
                :right $ninesixty_gutter_width * 2
            
              > .photo
                :position relative
                :width 100%
                +opacity(0.9)
              
                > img
                  :display block
                  :width 100%
              
                &:before
                  :content ''
                  +absoluted
                  +box-shadow(inset 0 0 15px rgba(0, 0, 0, 0.6))
              
                & + h2
                  :margin
                    :top $baseline / 2
            
              > h2
                :line-height $baseline * 2
                :font
                  :size $baseline * 1.5
                  :family "RistrettoSlabPro Medium", display
                  :weight medium
                +transition-property(opacity, color)
            
              > span
                :display block
                +transition-property(opacity, color)
            
              &:hover
                > .photo
                  +opacity(1)
              
                > h2, > span
                  :color $grey
        
          & + *
            :margin
              :top $baseline
        
        > ul.gallery
          :width $min_width
          :max-width $max_width
          :margin
            :left auto
            :right auto
          :height 100%
          :white-space nowrap
          :overflow hidden
          +children-inline
        
          > li
            :position relative
            :z-index 1
            :width 100%
            :height 100%
            :background no-repeat center
            +background-size(contain)
            +children-inline
          
            > a
              :position absolute
              :width 50%
              :height 100%
              +opacity(0)
            
              &:before
                :content ''
                :position absolute
                :width $baseline * 2
                :height $baseline * 2
                :top 50%
                :margin
                  :top -$baseline
                :background
                  :color $white
                :background rgba(255, 255, 255, 0.6) url("{{ "/images/icons/arrow.png" | prepend: site.baseurl }}") center
                +background-size(cover)
                +border-radius($baseline)
                +box-shadow(inset 0 0 15px rgba(0, 0, 0, 0.25))
            
              &.left
                :left 0
              
                &:before
                  :left $ninesixty_gutter_width * 2
                  +rotate(180)
            
              &.right
                :right 0
              
                &:before
                  :right $ninesixty_gutter_width * 2
            
              &:hover
                +opacity(1)
          
            &.active
              :z-index 2
              +opacity(1)
              :-webkit-animation-duration .75s
              :animation-duration .75s
              :-webkit-animation-name vanishIn
              :animation-name vanishIn
          
            &:not(.active)
              +opacity(0)
              :-webkit-animation-duration .75s
              :animation-duration .75s
              :-webkit-animation-name vanishOut
              :animation-name vanishOut
          
            & ~ li
              :margin
                :left -100%
        
        &.full
          :min-height calc(100% + #{$footer})
        
        &.fixed
          :height 100%
          :padding
            :top 0
            :bottom 0
          :background $white
    
    & + footer
      :margin
        :top -$footer
  
  > footer
    :width $min_width
    :max-width $max_width
    :margin
      :left auto
      :right auto
    :text
      :align center
    :height $footer
    :line-height $footer

#jivo_top_wrap
  +opacity(0.9)
  
  &:hover
    +opacity(1)

@media only screen and (max-width: 1000px)
  #container > #welcome > .wrapper > .content > ul.services > li
    :width 50%
    
@media only screen and (max-width: 750px)
  $header: $baseline * 3

  #container
    > header
      :height $header

      > h1
        +opacity(0)
        :visibility hidden
        :height $header
  
        > a
          :height $header
  
        & + aside
          :margin
            :top -$header

      > aside
        :height $header
  
        > nav
          :width 100%
          :margin
            :top ($header - $baseline * 2) / 2
            :bottom $header / 2
    
          > li
            :width 20%
            :text
              :align center
      
            > a
              :overflow hidden
              :font
                :size $baseline * 0.9
      
            > ul
              :padding
                :top $baseline / 4
        
              > li > a
                :font
                  :size $baseline * 0.8
        
              &.four > li
                :width 25%
          
                & + li
                  :margin
                    :left 0
        
              &.full > li
                :width 100%
                :text
                  :align center
      
            & + li
              :margin
                :left 0

      & + *
        :margin
          :top -$header
        :padding
          :top $header

    > #welcome > .wrapper > .content
      > p.short
        :width $min_width
      
      .map + *
        :margin
          :top $baseline * 2
      
      .info > div
        :width 100%
        
        > h3, > p
          :text
            :align center
        
        & + div
          :margin
            :top $baseline * 2
      
      > ul.masters
        > li
          :width 50%
        
        &.list > li
          > div, > a
            :width 100%
            
            > .photo > aside, > h3, > p
              :width 100%
              :position relative
              :left 0
              :bottom 0
            
            > .photo
              :overflow hidden
              
              > img + aside
                :margin
                  :top $baseline
              
              > aside
                :height $baseline * 30
                
                &:before
                  :content ''
                  :z-index 1
                  :position absolute
                  :height $baseline
                  :width 100%
                  :top -$baseline
                  :left 0
                  :background $white
                  +box-shadow(0 0 15px rgba(0, 0, 0, 0.6))
            
            > h3
              :margin
                :top $baseline
            
            > h3, > p
              :text
                :align center
    
    > footer
      :font
        :size $baseline * 0.8

@media only screen and (max-width: 600px)
  #container > footer
    :font
      :size $baseline * 0.5
                
@media only screen and (max-width: 500px)
  #container > #welcome > .wrapper > .content
    > ul.masters, > ul.services
      > li
        :width 100%
                
@media only screen and (max-width: 400px)
  html
    :font
      :size 3 * $base / 4
  
  #container > footer > span
    :display none