---
layout: default
navigation: gallery
redirect_from:
  - /portfolio/gallery/
---

{% assign photoArray = site.emptyArray %}
{% for master in site.data.masters %}
  {% for photo in master.photos %}
    {% capture p %}{{ master.gallery_folder }}/{{ photo }}{% endcapture %}
    {% assign photoArray = photoArray | push: p %}
  {% endfor %}
{% endfor %}
<div class="pictures" shuffle>
  {% for photo in photoArray %}
    <div class="picture contain" style="background-image: url({{ site.baseurl }}/images/masters/{{ photo }});"></div>
  {% endfor %}
</div>