<header>
  <h1><a href="/">{{ site.title }}</a></h1>
  <nav>
    <li class="{% if page.navigation == 'main' %}{{ 'active' }}{% endif %}"><a href="{{ "/" | prepend: site.baseurl }}">Главная</a></li>
    <li class="{% if page.navigation == 'about' %}{{ 'active' }}{% endif %}"><a href="{{ "/about" | prepend: site.baseurl }}">О студии</a></li>
    <li class="{% if page.navigation == 'masters' %}{{ 'active' }}{% endif %}"><a href="{{ "/masters" | prepend: site.baseurl }}">Мастера</a></li>
    <li class="{% if page.navigation == 'services' %}{{ 'active' }}{% endif %}"><a href="{{ "/services" | prepend: site.baseurl }}">Услуги</a></li>
    <li class="{% if page.navigation == 'contacts' %}{{ 'active' }}{% endif %}"><a href="{{ "/contacts" | prepend: site.baseurl }}">Контакты</a></li>
  </nav>
</header>
