<header>
  <h1><a href="/">{{ site.title }}</a></h1>
  <nav>
    <li class="{% if page.navigation == 'main' %}{{ 'active' }}{% endif %}"><a href="/">Главная</a></li>
    <li class="{% if page.navigation == 'masters' %}{{ 'active' }}{% endif %}"><a href="/masters">Мастера</a></li>
    <li class="{% if page.navigation == 'about' %}{{ 'active' }}{% endif %}"><a href="/about">О студии</a></li>
    <li class="{% if page.navigation == 'services' %}{{ 'active' }}{% endif %}"><a href="/services">Услуги</a></li>
    <li class="{% if page.navigation == 'contacts' %}{{ 'active' }}{% endif %}"><a href="/contacts">Контакты</a></li>
  </nav>
</header>
