---
layout: default
navigation: services
redirect_from:
  - /services/Tattoo/
  - /services/price/
  - /services/piercing/
  - /services/TattooRemove/
---

{% if site.data.event.active %}
  <div class="content">
    <h2>{{ site.data.event.title }}</h2>
    <p class="center">{{ site.data.event.text | newline_to_br }}</p>
  </div>
{% endif %}
{% for service in site.data.services %}
  <div class="picture service-{{forloop.index}} right"></div>
  <div class="content" id="{{ service.id }}">
    <h2>{{ service.title }}</h2>
    {% for text in service.text %}
      <p>{{ text }}</p>
    {% endfor %}
    {% for group in service.groups %}
      <h2 class="margin-top">{{ group.title }}</h2>
      {% for price in group.prices %}
        <p class="short no-margin padding-right"><b>{{ price.title }}:</b></p>
        <p class="short right aside">{{ price.price }}</p>
      {% endfor %}
    {% endfor %}
    {% if service.subtext %}
      <p class="center margin-top">{{ service.subtext }}</p>
    {% endif %}
    <h2 class="margin-top">Почему выбирают нас</h2>
    <p class="center">{{ service.why_choose_us }}</p>
  </div>
{% endfor %}